.container{
    width: 600px;
    height: 280px;
    background-color: #c3d742;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    /* grid-template-columns: 100px 100px 100px;
     */
    grid-template-columns: auto auto auto;
    


}

.item{
    width: 100px;
    height: 50px;
    background-color: rgb(121, 241, 36);
    border:2px solid black;
    text-align: center;

}
   
   