/*div{
    width: 700px;
    height: 500px;
    margin:20px;

    
    background-color: rgb(243, 157, 157);
    background-image: url('bgimg.jpg.jpg');
    background-size: cover;
}*/
div{
    width: 100px;
    height: 100px;
    margin:20px;

    background-color: rgb(243, 157, 157);
    position:relative;
    top: 300px;
    left: 300px;



}