h1{
    color:#ffa511;
    font-size: 30px ;
font-weight:900;
    text-align: center;
    font-family: league spartan;
    letter-spacing: 2px;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: teal double underline;
    ;


}