div{
    height:100px;
    width: 700px;
    background-color: rgb(243, 157, 157);
    border-width:5px;
    border-style:solid;
    border-color: black;
    border-left-color: brown;
    border-left-style:dashed;
    border-radius: 30px;
    padding-top: 10px;
    
    
}
  h1 {
    
    border-width:5px ;
    border-style:dashed;
    border-color: rgb(212, 249, 153);
    border-radius: 100px;
    color:aquamarine
    
  }
   button{
    border: 2px solid black;
    border-radius: 20px;
    background-color: #f49fdd;
    color: black;
    padding: 10px 20px;
   }